<div>
  <div>
    <h1>
      Bracket #<%= @the_bracket.id %> details
    </h1>

    <div>
      <div>
        <a href="/brackets">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_bracket/<%= @the_bracket.id %>">
          Delete bracket
        </a>
      </div>
    </div>

    <h2> Current Entries </h2>
    <table>
      <% @the_bracket.entries.each do |an_entry|%>
      <tr>
        <td>
          <form action="/modify_entry/<%= an_entry.id %>"  method="post">
            <label for="entry_title_box" hidden></label>
            <input id="entry_title_box" name="query_new_title" value="<%= an_entry.title %>">
            <button>Update Entry</button>
          </form>
        </td>
      </tr>
      <% end %>
    </table>

    <% if Entry.where({ :bracket_id => @the_bracket.id }).count < @the_bracket.number_of_entries %>
      <form action="/insert_entry" method="post">
        <table>
          <label for="entry_title_box"></label>
          <input type="text" id="entry_title_box" name="query_entry_title">
          <label for="bracket_box" hidden></label>
          <input type="text" name="query_bracket_id" value="<%= @the_bracket.id %>" hidden>
          <button>Add Entry</button>
      </form>
    <% end %>

    <% if Entry.where({ :bracket_id => @the_bracket.id }).count == @the_bracket.number_of_entries %>
      BUTTON START BRACKET => Renders a new page => table version of bracket
    <% end %>
    
    <dl>
      <dt>
        Number of entries
      </dt>
      <dd>
        <%= @the_bracket.number_of_entries %>
      </dd>


      <dt>
        Manager
      </dt>
      <dd>
        <%= @the_bracket.manager_id %>
      </dd>

      <dt>
        Status
      </dt>
      <dd>
        <%= @the_bracket.status %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bracket.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_bracket.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit bracket
    </h2>

    <form action="/modify_bracket/<%= @the_bracket.id %>"  method="post" >
      <div>
        <label for="number_of_entries_box">
          Number of entries
        </label>

        <input type="text" id="number_of_entries_box" name="query_number_of_entries" value="<%= @the_bracket.number_of_entries %>">
      </div>

      <div>
        <label for="manager_id_box">
          Manager
        </label>

        <input type="text" id="manager_id_box" name="query_manager_id" value="<%= @the_bracket.manager_id %>">
      </div>

      <div>
        <label for="status_box">
          Status
        </label>

        <input type="text" id="status_box" name="query_status" value="<%= @the_bracket.status %>">
      </div>

      <button>
        Update bracket
      </button>
    </form>
  </div>
</div>

<hr>
